*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    grid-area: header;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-left: 20px;
    flex-wrap: nowrap;
}
.container {
    display: flex;
    max-width: auto;
}
.navbar {
    width: 100%;
    --bs-navbar-padding-y: 0rem;
}
.nav-container {
    justify-content: center;
    align-items: center;
    height: auto;
    position: absolute;
}
.navbar .nav-container li {
    list-style: none;
}
.navbar .nav-container a {
    text-decoration: none;
    color: #38150B;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
}
.navbar .nav-container a:hover{
    font-weight: bolder;
}
.nav-container {
    display: flex;
    position: relative;
    height: 60px;
}
.nav-container .checkbox {
    position: absolute;
    display: flex;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}
.nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 30px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
}
.nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}
.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}
.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}
.navbar .menu-items {
    padding-top: 25px;
    box-shadow: inset 0 0 2000px rgb(255, 255, 255);
    height: auto;
    transform: translate(-150%);
    display: flex;
    flex-direction: row;
    margin-left: -40px;
    padding-right: 30px;
    padding-left: 80px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    align-items: center;
    justify-items: center;
    gap: 10px;
}
.navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 10px;
}
.navbar .menu-items li a{
    font-family: 'Niramit', sans-serif;
    padding-left: 20px;
}
.navbar .menu-items li a:hover{
    font-weight: bolder;
}
.nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
}
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
}
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
}
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
}
.nav-container input[type="checkbox"]:checked ~ .logo{
    display: none;
}
.logo-index a img{
    width: auto;
    height: 80px;
    background-color: #C6B4A5;
}
.social-media{
    display: flex;
    list-style: none;
    gap: 50px;
    align-items: center;
    margin-bottom: 0px;
    padding-left: 0px;
}
.social-media li a img{
    height: 35px;
}
footer{
    grid-area: footer;
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
}
footer:hover{
    background-color: rgba(255, 255, 255, 0.4);
}
.grid-container-home{
    display: grid;
    grid-template-areas:
    "header"
    "main-home"
    "footer";
    background: url(../assets/pexels-lukas-1419936.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.home-background{
    grid-area: main-home;
    display: flex;
    padding: 30px;
    flex-wrap: wrap;
    height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.home-title{
    display: flex;
    color: #38150B;
    font-size: 100px;
    flex-wrap: wrap;
    font-family: 'Patua One', cursive;
}
.home-subtitle{
    display: flex;
    font-family: 'Arvo', serif;
    font-size: 40px;
    font-weight: lighter;
    color: #38150B;
    flex-wrap: wrap;
    padding-bottom: 40px;
}
.home-shop-now{
    width: 180px;
    background-color: #38150B;
    display: flex;
    font-size: 30px;
    border-radius: 10px;
    color: #cacaca;
    justify-content: center;
    align-content: center;
    text-decoration: none;
    font-family: 'Niramit', sans-serif;
}
.grid-container-about{
    display: grid;
    grid-template-areas:
    "header"
    "about-main"
    "footer";
    background-color:#C6B4A5;
    padding: 0px 30px 0px 30px;
}
.about-main{
    grid-area: about-main;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "about-section about-photo";
    background-color: #C6B4A5;
    align-items: center;
    padding: 10px 60px 30px 30px;
    gap: 60px;
}
.about-section{
    grid-area: about-section;
    width: 100%;
}
.title-page{
    font-size: 4vw;
    font-weight: lighter;
    color: #38150B;
    font-family: 'Baloo Paaji 2', cursive;
}
.about-photo img{
    grid-area: about-photo;
    width: 100%;
}
.about-text{
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    padding-top: 30px;
    font-size: 1.5vw;
    font-family: fantasy;
    color: #38150B;
    font-family: 'Lora', serif
}
.grid-container-shop{
    display: grid;
    grid-template-areas:
    "header"
    "shop-main"
    "footer";
    background-color:#C6B4A5;
    padding: 0px 30px 0px 30px;
}
.main-shop{
    grid-area: shop-main;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas:
    "title-page title-page title-page"
    "shop-section shop-section shop-section";
    justify-content: center;
    padding: 10px 30px 30px 30px;
    gap: 60px;
}
.shop-section{
    grid-area: shop-section;
    display: grid;
    grid-template-areas:
    "shop-card shop-card shop-card"
    "shop-card shop-card shop-card";
    flex-wrap: nowrap;
}
.shop-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding-top: 20px;
    padding-bottom: 100px;
}
.shop-card img{
    width: 90%;
}
.shop-card p{
    width: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.5vw;
    color: #38150B;
    font-family: 'Lora', serif;
}
.shop-button{
    width: 90%;
    height: auto;
    background-color: #38150B;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 25px;
    text-decoration: none;
    color: #ffffff;
    border-radius: 8px;
    padding: 5px;
}
.grid-container-blog{
    display: grid;
    grid-template-areas:
    "header"
    "blog-main"
    "footer";
    background: url(../assets/pexels-lukas-1419950.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px 30px 0px 30px;
}
.blog-main{
    grid-area: blog-main;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas:
    "title-page title-page title-page"
    "blog-section blog-section blog-section";
    justify-content: center;
    padding: 10px 30px 30px 30px;
    width: 100%;
}
.blog-section{
    grid-area: blog-section;
    display: grid;
    grid-template-areas:
    "blog-card blog-card blog-card"
    "blog-card blog-card blog-card";
    flex-wrap: nowrap;
    gap: 20px;
}
.blog-card{
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: justify;
    align-items: center;
    background-color: #C6B4A5;
    border-radius: 10px;
    width: 90%;
    gap: 20px;
    padding: 20px;
}
.blog-card img{
    width: 90%;
    padding-top: 20px;
}
.blog-card p{
    width: 90%;
    padding-top: 10px;
    font-size: 1.3vw;
    color: #38150B;
    font-family: 'Lora', serif;
}
.blog-button{
    display: flex;
    width: auto;
    height: auto;
    background-color: #38150B;
    justify-content: center;
    align-content: center;
    font-size: 1.3vw;
    font-family: 'Lora', serif;
    color: #ffffff;
    border-radius: 8px;
    padding: 5px;
    text-decoration: none;
}
.main-locations{
    display: grid;
    grid-template-areas:
    "title-page"
    "location-section";
    padding: 10px 30px 30px 30px;
}
.location-section{
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.location-card{
    background-color: #C6B4A5;
    width: 550px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.maps{
    width: 500px;
    height: 500px;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
}
/**
tablet
***/
@media (max-width:768px){
    .navbar .menu-items {
        background-color: #C6B4A5;
        flex-direction: column;
        padding-left: 0px;
        text-align: center;
        gap: 5px;
    }
    .navbar .menu-items li a{
        font-family: 'Niramit', sans-serif;
        padding-left: 70px;
    }
    .logo-index a img{
        height: 70px;
        background-color: transparent;
    }
    footer{
        grid-area: footer;
        display: flex;
        padding: 30px;
    }
    .social-media{
        display: flex;
        list-style: none;
        gap: 20px;
    }
    .social-media li a img{
        height: 30px;
    }
    .grid-container-home{
        padding-right: 0px;
        backdrop-filter: blur(5px);
        padding: 0px;
    }
    .home-title{
        font-family: 'Patua One', cursive;
        color: #38150B;
        justify-content: center;
        font-size: 13vw;
    }
    .home-background{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }
    .home-subtitle{
        padding-bottom: 20px;
        font-size: 6vw;
    }
    .home-shop-now{
        width: 33vw;
        background-color: #C6B4A5;
        display: flex;
        font-size: 6vw;
        border-radius: 15px;
        color: #38150B;
    }
    .grid-container-about{
        padding: 0px;
    }
    .about-main{
        grid-template-columns: auto;
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
        "about-section"
        "about-photo";
        padding: 0px 40px 40px 40px;
        gap: 40px;
        align-items: flex-start;
    }
    .title-page{
        font-size: 40px;
        text-align: center;
    }
    .about-text{
        padding-top: 20px;
        font-size: 20px;
    }
    .grid-container-shop{
        padding: 0px;
    }
    .main-shop{
        grid-template-columns: 100%;
        grid-template-rows: repeat(2,auto);
        grid-template-areas:
        "title-page"
        "shop-section";
        justify-content: center;
        padding: 0px;
        gap: 0px;
    }
    .shop-section{
        display: grid;
        grid-template-areas:
        "shop-card shop-card";
        justify-content: center;
        align-items: center;
    }
    .shop-card{
        padding-bottom: 100px;
    }
    .shop-card img{
        width: 80%;
    }
    .shop-card p{
        width: 80%;
        padding-top: 10px;
        padding-bottom: 0px;
        font-size: 2.5vw;
        font-family: 'Lora', serif;
    }
    .shop-button{
        font-size: 2.5vw;
        text-decoration: none;
        padding: 8px;
        width: 80%;
    }
    .grid-container-blog{
        padding: 0px;
    }
    .blog-main{
        grid-template-columns: 100%;
        grid-template-rows: repeat(2,auto);
        grid-template-areas:
        "title-title"
        "blog-section";
        justify-content: center;
        padding: 0px;
        gap: 0px;
    }
    .blog-section{
        display: grid;
        grid-template-areas:
        "shop-card shop-card";
        justify-content: center;
        align-items: center;
    }
    .blog-card{
        width: 90%;
        gap: 5px;
        padding: 0px;
        padding-bottom: 10px;
    }
    .blog-card img{
        width: 80%;
    }
    .blog-card p{
        width: 80%;
        padding-top: 10px;
        padding-bottom: 0px;
        font-size: 2.5vw;
        font-family: 'Lora', serif;
    }
    .blog-button{
        width: 90%;
        background-color: #38150B;
        font-size: 2.5vw;
    }
    .main-locations{
        padding: 0px;
    }
    .location-card{
        width: 80%;
        height: 80vi;
        padding: 0px;
    }
    .maps{
        width: 90%;
        height: 90%;
    }
}
/**
movil
***/
@media (max-width: 376px){
    header{
        padding: 0px;
    }
    .logo-index a img{
        height: 70px;
    }
    .grid-container-index{
        background-position: -750px;
        backdrop-filter: blur(5px);
    }
    .home-title{
        font-family: 'Patua One', cursive;
        color: #38150B;
        justify-content: center;
    }
    .home-background{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }
    .home-subtitle{
        padding-bottom: 20px;
    }
    .home-shop-now{
        background-color: #C6B4A5;
        display: flex;
        border-radius: 15px;
        color: #38150B;
    }
    .title-page{
        font-size: 40px;
    }
    .shop-section{
        grid-template-areas:
        "shop-card";
    }
    .shop-card img{
        width: 80%;
    }
    .shop-card p{
        width: 80%;
        padding-top: 10px;
        padding-bottom: 0px;
        font-size: 15px;
        font-family: 'Lora', serif;
    }
    .shop-button{
        font-size: 15px;
        padding: 6px;
    }
    .blog-section{
        grid-template-areas:
        "shop-card";
    }
    .blog-card{
        width: 90%;
        gap: 5px;
        padding: 0px;
        padding-bottom: 10px;
        padding-bottom: 25px;
    }
    .blog-card img{
        width: 80%;
        padding-top: 25px;
    }
    .blog-card p{
        width: 80%;
        font-size: 15px;
    }
    .blog-button{
        font-size: 15px;
    }
    .location-card{
        width: 80%;
        height: 288px;
        padding: 0px;
    }
    .maps{
        width: 90%;
        height: 90%;
    }
}